<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {% if item.image %}
          <div class="img-container">
            <img class="card-image" src="{{ item.image }}"></img>
          </div>
          {% endif %}

          <div class="card-title {% if item.is_external %}external{% endif %}">{{ item.title }}</div>

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>
      </a>
        <div class="tags">
          {% for tag in item.tags %}
            <span>{{ tag }}</span>
          {% endfor %}
        </div>

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
    </li>

  {% endfor %}
</ul>
